* {
    /*color: white;*/
    font-family: sans-serif;
    text-align: center;
    font-family: 'Special Elite';
}

body {
    background-color: black;
    margin: 0;
}

header {
    background-color:white;
}
header > img {
    max-width: 100%;
}

header > h4 {
    margin-bottom: 0.5em;
}

.page {
    min-height: 75%;
}

#about {
    background-color: #292929;
    color: white;
}

#more {
    background-color: #7d0000;
    color: white;
}
#more > li {
    padding-bottom: 0.5em;
}
#more a {
    color: #fae393;
    font-size: 22px;
}

#more h3 {
    border-top: thin solid #fae393;
    padding-top: .5em;
}

#register {
    background-color: #b48951;
}

footer {
    position:fixed;
    bottom: 0;
    background-color: black;
    border-top: thin solid white;
    height:25%;
    width: 100%;
    color: white;
}

.footerPlaceHolder {
    height: 25%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.nav {
    position:fixed;
    padding: 1em;
    margin: 0;
    top: 2em;
    left: 2em;
    background-color: white;
    opacity: 0.9;
}

.nav > li {
    text-align: left;
    padding: 1em 0;
    font-weight: bold;
    font-size: 20;
}
.nav > li > a {
    text-decoration: none;
    color: black;
}
footer li {
    display: inline-block;
    padding: 0 1em;
}

p {
    margin: 0;
}

.paragraph {
    max-width: 500px;
    margin: auto;
    padding-bottom: 1em;
}

#registerForm {
    margin: auto;
    text-align: left;
    font-size: 18px;
}
#registerForm > label {
    display: inline-block;
    text-align: left;
    padding-right: .5em;
    margin-bottom: .5em;
}
#registerForm > select {
    display: inline-block;  
}

#registerForm > input[type="submit"] {
    padding: 0.5em;
}
#registerForm > input, #registerForm > select, #registerForm option {
    color: black;
    text-align: left;
    font-size: 18px;
}
#error {
    text-align:left;
    font-weight: bolder;
    color: #7d0000;
}

a.JoinButton {
    background-color: #a4a4a4;
    border-bottom: 3px solid #292929;
    border-right: 3px solid #444444;
    text-decoration: none;
    font-weight: bold;
    color: #292929;
    display: inline-block;
    padding: .6em;
    padding-top: .8em;
    margin-bottom: 1em;
    border-radius: .5em;
    box-shadow: #a4a4a4 0px 0px 3px;
}
a.JoinButton:hover {
    background-color: #bbb;
}
a.JoinButton:active {
    border-bottom: none;
    border-right: none;
    border-top: 2px solid #292929;
    border-left: 2px solid #444444;
}

.Loading {
    display: none;
}


/*

    ==============================================
    Bug Reporting Page
    ==============================================

*/

#mainBug {
    background-color: white;
    min-height: 75%;
    padding-top: 1em;
}
#mainBug > h1 {
    margin-top: 0;
}
#mainBug > #error {
    text-align: center;
}

#bugForm input, #bugForm #field_message{
    padding: 0.5em;
    font-size: 18px;
    border-radius: .5em;
    width: 80%;
}
#bugForm #field_message {
    text-align: left;
}