<ul class="headerTabs">
    <li class="headerTab" id="header_feed"><a href="index.html">Feed</a></li>
    <li class="headerTab" id="header_map"><a href="map.html">Map</a></li>
    <li class="headerTab" id="header_actions"><a href="actions.html">Actions</a></li>
    <li class="headerTab" id="header_dossier"><a href="dossier.html">Dossier</a></li>
    <li class="headerTab" id="header_account"><a href="account.html">Account</a></li>
</ul>