.headerTabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 3em;
}

.headerTab {
    float: left;
    width: 20%;
    text-align: center;
    background-color: #ddd;
}

.headerTab.active {
    background-color: #eee;
}
.headerTab > a {
    display: block;
    padding: 1em;
}

.tab {
    width:100%;
    height:100%;
    display: none;
}
.tab.active { display: block; }

#main {
    height: 100%;
}

tr.dead {
    background-color: grey;
}

#error {
    position: absolute;
    width: 80%;
    padding: 0 0 1em 0;
    top: 10%;
    left: 10%;
    background-color: #ccc;
    opacity: 0.9;
    border-radius: 2em;
    text-align:center;
}